h2{
  color: rgb(150, 150, 150);
}

h6 {
   color: #000000;
   display: flex;
   justify-content: right;
   align-items: middle;
}

h3{
  display: table;
  margin: 0 auto;
}

h5{
margin-left: 5%;
}

table{
  margin: 0 auto;
  vertical-align: middle;
  max-width: 90%;
}

